<div class="upload-files section">
  <h2>Upload a File</h2>

  <div class="upload-stl-file">
    <%= form_tag({action: :create, controller: :print_request}, :multipart => true) do %>
      <input id="upload-file-overlay" type="text"></input>
      <%= file_field_tag 'stl_file' %>
      <%= submit_tag 'Upload' %>
    <% end %>
  </div>
</div>
<div class="check-status section">
  <h2>Check Status
    <div id="refresh-status">Last Updated: <%= @last_updated_dt.to_s :in_standard_format %></div>
  </h2>
 
  <%= render 'print_request/print_jobs' %>
</div>

