<iframe id="blank_iframe" style="display: none"></iframe>
<div class="current-print-jobs">
  <table class="display dataTable">
    <thead>
      <th>Status</th>
      <th>STL File Name</th>
      <th>Time Submitted</th>

      <% if can? :manage, :all %>
        <th>Printer Name</th>
        <th>User</th>
      <% end %>
      <th>Preview</th>
    </thead>
    <tbody>
      <% @print_requests.each do |print_request| %>
        <tr>
          <td>
            <% if can? :manage, :all %>
              <%= form_for print_request, html: {target: 'blank_iframe'} do |f| %>
                <%= render partial: 'print_request/status', locals: {status: print_request.status} %>
              <% end %>
            <% else %>
              <%= print_request.status %>
            <% end %>
          </td>
          <td><%= print_request.stl_file_name %></td>
          <td><%= print_request.created_at.to_s :in_standard_format %></td>
          <% if can? :manage, :all %>
            <td>
              <%= form_for print_request, html: {target: 'blank_iframe'} do |f| %>
                <%= render partial: 'print_request/printer', locals: {printer: print_request.printer} %>
              <% end %>
            </td>
            <td><%= print_request.user.nil? ? 'No User!' : print_request.user.email %></td>
          <% end %>
          <td><a class='stl_file_preview_link' href="#" stl_file_name="/stl_files/<%= print_request.stl_file_name %>">Preview</a>
        </tr>
      <% end %>
    </tbody>
  </table>

  <% if @print_requests.size == 0 %>
    <div>There are no requests from you</div>
  <% end %>
</div>

