<!DOCTYPE html>
<html>
<head>
  <title>FabServ 3D Printing</title>
  <link href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="user-header">
    <div class="title">
      <span>Fab</span><span>Serv</span>
    </div>
    <div class="logo"></div>
    <div class="user-details">
      <% if current_user.nil? %>
        <%= link_to 'Login', new_user_session_path %>
      <% else %>
        <%= current_user.email %>
        (<%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>)
      <% end %>
    </div>
  </div>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
<%= yield %>

</body>
</html>

